[project]
	description = Web scraping focuses on the transformation of unstructured data on the web, typically in HTML format, into structured data that can be stored and analyzed in a central local database. Web scraping is related to web automation, which simulates human browsing using computer software
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Allan Burdajewicz (Dohbedoh)
[access "refs/for/refs/*"]
	read = group user/Allan Burdajewicz (Dohbedoh)
	push = group user/Allan Burdajewicz (Dohbedoh)
	label-Code-Review = -2..+2 group user/Allan Burdajewicz (Dohbedoh)
	label-Verified = -1..+1 group user/Allan Burdajewicz (Dohbedoh)
	rebase = group user/Allan Burdajewicz (Dohbedoh)
	removeReviewer = group user/Allan Burdajewicz (Dohbedoh)
	submit = group user/Allan Burdajewicz (Dohbedoh)
[access "refs/heads/*"]
	read = group user/Allan Burdajewicz (Dohbedoh)
	create = group user/Allan Burdajewicz (Dohbedoh)
	push = +force group user/Allan Burdajewicz (Dohbedoh)
	pushMerge = group user/Allan Burdajewicz (Dohbedoh)
[access "refs/tags/*"]
	push = +force group user/Allan Burdajewicz (Dohbedoh)
	pushTag = group user/Allan Burdajewicz (Dohbedoh)
	pushSignedTag = group user/Allan Burdajewicz (Dohbedoh)
